<!-- home.component.html -->
<div class=" home jumbotron text-center">
    <h1 class="display-4">¡Bienvenido a Mi Portfolio!</h1>
    <p class="lead">My name is Ian Alejandro, a fullstack developer based in Guadalajara, Jalisco, MX. I have worked on a 
        wide range of front-end projects, from DJ applications to eCommerce booking platforms, with a focus on creating 
        clean, well-crafted interfaces that not only look great but also provide a seamless user experience.</p>
    <hr class="my-4">
    <p>Aquí encontrarás información sobre mis proyectos, habilidades y experiencia.</p>
    <a class="btn btn-primary btn-lg" href="/projects" role="button">Ver Proyectos</a>
  </div>